h1 {
    color: rgb(229, 253, 224);
    box-shadow: 10 10 10 10;
}
h2 {
    color: rgb(229, 253, 224);
    box-shadow: 10 10 10 10;
}
.form-container {
    background-color:rgb(229, 253, 224);
}
.ui.card{
   background-color:rgb(229, 253, 224);
}
p {
    color: rgb(229, 253, 224);
}

